.container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.dashImage {
    width: auto;
    height: 50vh;
}

.dashboardSection {
    margin: 15vh;
    min-height: 30vh;
    display: flex;
    justify-content: space-around;
}

.dashText {
    font-size: x-large;
    margin: 20px;
}